doctype html
html
	head
		block css
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		block top_script
	body
		//Navbar
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style="padding-bottom:0;")
			a.navbar-brand.text-white Dailydrinks
		nav.navbar.navbar-expand-sm.navbar-dark.bg-dark(style="padding-top:0;")
		h5.card-title.ml-5.mt-2 #{title}
		block main
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		block scripts